//
//  project.xcconfig
//  LateResponders
//
// Created by Paulo Andrade on 14/02/2019.
// Copyright © 2019 Outer Corner. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SUPPORTED_PLATFORMS = macosx iphoneos iphonesimulator

LATE_RESPONDERS_VERSION = 1.0.0
CURRENT_PROJECT_VERSION = 190314.0
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
